body {
    height: 100vh;
    margin: 0;
    /*background: linear-gradient(90deg, #02325c 0%, #5f5302 33%, #690803 66%, #03550c 100%);*/
    background-color: #50A3A4;
    font-family: 'Arial', sans-serif;
}
h1{
    color: white;
    font-size: 6rem;
    text-align: center;
    
    text-shadow: 0 0 10px rgb(8, 66, 13);
    
    margin-bottom: 0px;
}
#cim_BITS{
    animation: colorChange 5s infinite;
}
#cim_feel{
    color: #ED1C24;
    text-shadow: 0 0 10px #ED1C24;
}
#cim_box{
    color: #102E98;
    text-shadow: 0 0 10px #102E98;
}
.round_title{
  margin-bottom: 5vh;
}
#scrollIndicator{
  color: white;
  text-align: center;
  font-size: 30rem;
  text-shadow: 0 0 10px rgb(238, 255, 0.8);
  font-family: 'Courier New', Courier, monospace ;
  animation: colorChange 5s infinite;
}
@keyframes colorChange{
  0% {color: #1b7208;}
  25% {color: #fa2819;}
  50% {color: #ffe20a;}
  75% {color: #1616a8;}
  100% {color: #1b7208;}
}

h2{
  color: white;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-shadow: 0 0 10px rgb(8, 66, 13);
}
#navbar_logo{
  height: 2rem;
  width: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 30%;
  border: #0074D9 2px solid;
}
#SZE_logo{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: auto;
  height: 2rem;
  border: none;
  border-radius: 2px;
  background-color: #f2f2f2;
  padding: 2px;
  margin-right: 1rem;
  float: right;
  align-content: end;
}
#SZE_logo:hover{
  background-color: #048513;
}
#facebook_logo{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: auto;
  height: 2rem;
  border-radius: 2px;
  background-color: #395498;
  padding: 2px;
  border: #ffffff 2px solid ;
  margin-right: 1rem;
}
#facebook_logo:hover{
  background-color: #03447c;
}
#youtube_logo{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: auto;
  height: 2rem;
  border-radius: 2px;
  /*background-color: #ff0000;*/
  padding: 2px;
  border: #ffffff 2px solid ;
  background-color: #ffffff;
}
#youtube_logo:hover{
  background-color: #8a0000;
}
#logos{
  display: flex;
  justify-content: flex-end;
  cursor: default;
}

.dropdown #e1:hover{
  background-color: #0565b9;
}
#navbar {
  
  /*background: linear-gradient(45deg, #0074D9 0%, #FFDC00 33%, #FF4136 66%, #2ECC40 100%);   /*Original : background: linear-gradient(45deg, #0074D9 0%, #FFDC00 33%, #FF4136 66%, #2ECC40 100%);*/
  background-color: #0565b9;
  
  font-weight: bold;
  
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  position: fixed;
  /*background-color: #2e2e2e;*/

  border: none;
  border-bottom: #FF4136 3px solid;
  
  animation: borderAnimation 8s infinite alternate;
  display: flex;
  justify-content: space-around;

  top: 0;
  width: 100%;
  z-index: 1000;
  cursor: default;
}

#navbar_logo{
  border-radius: 15%;
  padding: 10%;
  /*background: linear-gradient(180deg, #ffffff00 0%,  #02325c 20%, #02325c 80%, #ffffff00 100%);*/
  border: none;
  background-color: #f2f2f2;
  
  /*box-shadow:0 0 50px  #fbff00;*/
}
#navbar_logo:hover{
  /*background: linear-gradient(45deg, #0074D9 0%, #FFDC00 33%, #FF4136 66%, #2ECC40 100%);*/
  background-color: #690803;
}
#logo_a{
  padding: 0%;
  margin-left: 1rem;
}

#e1{
  font-size: 1.1rem;
  /*text-shadow: 0 0 10px rgb(238, 255, 0.8);*/
}
#e1:hover{
  /*background: linear-gradient(45deg, #0074D9 0%, #FFDC00 33%, #FF4136 66%, #2ECC40 100%);*/
  background-color: #03447c;
  color: rgb(255, 255, 255);
  /* text-shadow: 0 0 10px white; */
}
#e2{
  font-size: 1.1rem;
  /* text-shadow: 0 0 10px rgb(238, 255, 0.8); */
}
#e2:hover{
  /*background: linear-gradient(45deg, #0074D9 0%, #FFDC00 33%, #FF4136 66%, #2ECC40 100%);*/
  background-color: #8a7803;
  color: rgb(255, 255, 255);
  /* text-shadow: 0 0 10px white; */
}
#e3{
  font-size: 1.1rem;
  /* text-shadow: 0 0 10px rgb(238, 255, 0.8); */
}
#e3:hover{
  /*background: linear-gradient(45deg, #0074D9 0%, #FFDC00 33%, #FF4136 66%, #2ECC40 100%);*/
  background-color: #9e0d05;
  color: rgb(255, 255, 255);
  /* text-shadow: 0 0 10px white; */
}
#e4{
  font-size: 1.1rem;
  /* text-shadow: 0 0 10px rgb(238, 255, 0.8); */
}
#e4:hover{
  /*background: linear-gradient(45deg, #0074D9 0%, #FFDC00 33%, #FF4136 66%, #2ECC40 100%);*/
  background-color: #048513;
  color: rgb(255, 255, 255);
  /* text-shadow: 0 0 10px white; */
}

.topnav {
  /*overflow: hidden;*/
  /* height: 50px; */
  width: 100%;
  /* position: fixed;   */
  z-index: 100;
  
}

/* Hamburger (icon) styles */
.icon.hamburger{
  display: none; /* alapértelmezés szerint rejtve, mobilnál látszik */
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 12px;
  align-self: center;
}
.icon.hamburger:focus{ outline: none; }
.icon.hamburger:focus-visible{ outline: 2px dashed #fff; outline-offset: 3px; }
.icon.hamburger .bar{
  display: block;
  width: 24px;
  height: 3px;
  margin: 5px auto;
  background: white;
  transition: transform 0.3s ease, opacity 0.25s ease, background 0.3s ease;
}
.icon.hamburger.open .bar.top{
  transform: translateY(8px) rotate(45deg);
}
.icon.hamburger.open .bar.middle{
  opacity: 0;
  transform: scaleX(0);
}
.icon.hamburger.open .bar.bottom{
  transform: translateY(-8px) rotate(-45deg);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  cursor: pointer;
  width: 150px;
  text-align: center;
  
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  
  
  
}

.dropdown-content {
  display: none;
  position: absolute;
  /*background: linear-gradient(90deg, #02325c 0%, #5f5302 33%, #690803 66%, #03550c 100%);*/
  color: white;
  background-color: #254f50;
  /* text-shadow: 0 0 10px rgb(255, 255, 255); */
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content a:not(.shownone) {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  /*background-color: #ddd;*/
  color: rgb(255, 255, 255);
  /* text-shadow: 0 0 10px white; */
  /*background: linear-gradient(45deg, #0074D9 0%, #FFDC00 33%, #FF4136 66%, #2ECC40 100%);*/
  background-color: #2a84d2;
  
}

.dropdown:hover .dropdown-content:not(.shownone) {
  display: block;
}




@media screen and (max-width: 1260px) {
  .topnav .dropbtn:not(.active), .dropdown .dropbtn, .dropdown img{
    display: none;
  }
  #navbar_logo{
    padding: 0%;
  }
  /* Show hamburger on smaller screens */
  .icon.hamburger{
    display: block;
    margin-left: auto;
  }
  
  .dropdown-content {
    width: auto;
    min-width: 150px;
    display: none; /* Alapértelmezés szerint a legördülő menü zárva van */
  }

  .dropdown:hover .dropdown-content  {
    display: none; /* Hover nem működik az érintéses eszközökön */
  }

  .dropdown {
    width: auto;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
    display: flex;
    flex-direction: column; /* Váltás oszlop elrendezésre */
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown {
    float: none;
    display: block;
    width: 100%;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
    display: none; /* Alapértelmezés szerint a legördülő menü zárva van */
  }

  .topnav.responsive .dropdown:hover .dropdown-content {
    display: none; /* Hover nem működik az érintéses eszközökön */
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .topnav.responsive .dropdown-content a {
    display: block;
    width: 100%;
  }

  .topnav.responsive .dropdown img {
    float: none;
    display: block;
  }

  .topnav.responsive .topnav a { /* Új stílus biztosítja, hogy a fő elemek egymás alatt legyenek */
    display: block;
    width: 100%;
  }

 
  .carousel-control.next{
    opacity: 0;
  }
  .carousel-control.prev{
    opacity: 0;
  }
  iframe{
    width: auto;
    height: 70%;
    
  }
  #round_table{
    width: 50vh !important;
    height: auto;
  }
  #robot_images{
    width: 100% !important;
    height: auto;
  }
  #arm_images{
    width: 100% !important;
    height: auto;
  }
  #round_algorithm{
    width: 100% !important;
    height: auto;
  }
  
}

img{
  backdrop-filter: blur(5px); /* Blur effect */
  margin-top: 1rem;
  max-width: 97%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  height: 20vh;
  width: auto;
  height: 20vh;
  width: auto;
  border-radius: 15px;
  border: 5px solid rgb(255, 255, 255);
  /*animation: borderAnimation 5s infinite linear;*/
}
#arm_images{
  border: none;
  width: 50%;
  height: auto;
  border-radius: 0px;
}
#round_images{
  height: 70%;
  width: 100%;
  border: none;
  border-radius: 0px;
  object-fit: contain;
  display: block;
}

@keyframes borderAnimation {
  0% {
    border-color: red;
  }
  20% {
    border-color: orange;
  }
  40% {
    border-color: yellow;
  }
  60% {
    border-color: green;
  }
  80% {
    border-color: blue;
  }
  100% {
    border-color: red;
  }
  
}
#gyro{
  height: 20vh;
  width: auto;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
  
}
#robot_images{
  height: auto;
  width: 50%;
  border: none;
}
iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  border-radius: 15px;
  border: 5px solid rgb(255, 255, 255);
}
.carousel {
  /* padding-top: calc(100vh / 3); */
  /* padding-bottom: calc(100vh / 3.6); */
  position: relative;
  height: auto;
  
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  
  
}
.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}
.carousel-item {
  position: absolute;
  opacity: 0;
  transition: opacity 0.6s ease-out;
  left: 0;
  right: 0;
  
}

.carousel-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  object-fit: cover;
  border: none;
  border-radius: 15px;
}



.carousel-control {
  
  color: #ff0000b9;
  cursor: pointer;
  display: none;
  font-size: 300px;
  height: 2.5rem;
  line-height: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  justify-content: center;
  width: 40px;
  z-index: 100;
  border-radius: px;
}
.carousel-control.prev {
  left: 2%;
  text-shadow: 0 0 10px rgb(238, 255, 0.8);
}
.carousel-control.next {
  right: 6.5%;
  text-shadow: 0 0 10px rgb(238, 255, 0.8);
}
.carousel-control:hover {
  color: #00ff0d9a;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-6:checked ~ .control-6,
#carousel-7:checked ~ .control-7 {
  display: block;
}
.carousel-indicators{
  
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
  text-shadow: 0 0 10px rgb(238, 255, 0.8);
}
.carousel-indicators li{
  display: inline-block;
  margin: 0 5px;
}
.carousel-bullet{
  color: #fbff00;
  cursor: pointer;
  display: block;
  font-size: 3rem;
  transition: 0.3s ease-out;
}
.carousel-bullet:hover{
  color: #00ff0d;
}
#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet,
#carousel-7:checked ~ .control-7 ~ .carousel-indicators li:nth-child(7) .carousel-bullet {
  color: #ff0000;
}

table{
  border: white 5px solid;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3rem;
  /*animation: borderAnimation 5s infinite linear;*/
  border-radius: 10px;
  border-spacing: 0px;
}
td{
  border: white 2px solid;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px rgb(8, 66, 13);
  border-radius: 0px;
}
th{
  border: white 2px solid;
  color: white;
  background-color: #0074D9;
  border-radius: 0px;
}

#round_table{
  width: 50%;
  height: auto;
}